<div class="container-fluid">
  <div class="row">
    <ul class="legend">
      <li><span class="vacant" style="background-color: green"><p>Vacant</p></span></li>
      <li><span class="in_use" style="background-color: red"><p>In Use</p></span></li>
      <li><span class="out_of_order" style="background-color: orange"><p>Out of Order</p></span></li>
    </ul>
  </div>
  <% for @x in 0..@washroom.grid[0] do %>
    <div class="row">
        <% for @y in 0..@washroom.grid[1] do %>
          <div class="col-md-1 btn" style="background-color: <%= @washroom.get_amenity_color([@x, @y]) %>" id=<%="#{@x}#{@y}"%>
            <h4 id=<%="#{@x}#{@y}text"%> ><%= @washroom.getAmenityName(@x, @y) %></h4>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
