<div class="container-fluid">
  <% for @x in 0..@washroom.grid[0] do %>
    <div class="row">
        <% for @y in 0..@washroom.grid[1] do %>
          <% if @washroom.hasAmenity(@x, @y) %>
            <div class="col-md-1 btn" data-toggle="modal" style="background-color: <%= @washroom.get_amenity_color([@x, @y]) %>" id=<%="#{@x}#{@y}"%> data-target=<%="#modal#{@x}#{@y}"%>>
          <% else %>
            <div class="col-md-1 btn" data-toggle="modal" id=<%="#{@x}#{@y}"%> data-target=<%="#modal#{@x}#{@y}"%>>
          <% end %>
            <h4 id=<%="#{@x}#{@y}text"%> ><%= @washroom.getAmenityName(@x, @y) %></h4>
          </div>
          <div class="modal fade" title="amenity_modal" id=<%="modal#{@x}#{@y}"%>>
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                  <h3 id="myModalLabel">Add an amenity</h3>
                </div>
                <div class="modal-body">
                  <!-- This action points to /update_amenity in routes-->
                  <form action="update_amenity" method="post" data-remote="true">
                    <div hidden class="form-group">
                      <input type="number" name="xCoor" value=<%="#{@x}"%>>
                    </div>
                    <div hidden class="form-group">
                      <input type="number" name="yCoor" value=<%="#{@y}"%>>
                    </div>
                    <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" name="name" value="<%=@washroom.getAmenityName(@x, @y)%>" class="form-control" id="name" placeholder="Optional">
                    </div>
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select name="status" class="form-control" id=status>
                        <% if @washroom.hasAmenity(@x, @y) %>
                          <option selected hidden><%=@washroom.getAmenityStatus(@x, @y)%></option>
                        <% end %>
                        <option>None</option>
                        <option>Vacant</option>
                        <option>In Use</option>
                        <option>Out of Service</option>
                      </select>
                    </div>
                    <input value="Submit" type="submit" class="btn btn-default" name="commit"/>
                    <input value="Delete" type="submit" class="btn btn-default" name="commit"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
  <%= link_to 'Save', '#', data: {toggle: "modal", target: "#save_modal"}, :class => "btn create_button" %>
  <!-- <%= button_to 'Save', {data: {toggle: "modal", target: "#save_modal"}, remote: true}, {class: 'btn create_button'} %> -->
  <div class="modal fade" title="save_modal" id="save_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h3 id="myModalLabel">Save Room</h3>
        </div>
        <div class="modal-body">
          <!-- This action points to /update_amenity in routes-->
          <form action="save_room" method="post" data-remote="true">
            <div class="form-group" id="save_name">
              <label for="name">Name:</label>
              <input type="text" name="name" class="form-control" id="name" placeholder="Required">
              <small id="name_error" class="text-danger">
              </small>
            </div>
            <div class="form-group" id="save_password">
              <label for="password">Password:</label>
              <input type="text" name="password" class="form-control" id="password" placeholder="Required">
              <small id="password_error" class="text-danger">
              </small>
            </div>
            <input value="Save" type="submit" class="btn btn-default" name="commit"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
