<meta name="viewport" content="width=device-width,initial-scale=1">
<div class = "container">
  <h1>Room Generator</h1>
  <p>Create a grid layout of a room and manage the status's of amenities within the room</p>
  <%= button_to 'Create a room', create_path, method: :get, class: 'button' %>
</div>
