$("#modal<%=@xCoord%><%=@yCoord%>").modal("toggle");
$("#<%=@xCoord%><%=@yCoord%>").css('background-color', "<%=@color%>")
$("#<%=@xCoord%><%=@yCoord%>text").text("<%=@washroom.getAmenityName(@xCoord, @yCoord)%>")
