// Place all the styles related to the RoomManager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

h4 {
  font-family: ‘Helvetica Neue’, Helvetica;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: keep-all;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: black;
}

[class*="col-"] {
    display: table-cell;
    word-wrap: break-word;
    vertical-align: top;
    height: 100px;
    background-color: white;
    &:hover {
      background-color: black;
    }
    word-break: break-all;
}

/* basic positioning */
.legend {
  list-style: none;
}
.legend li {
  float: left; margin-right: 10px;
  display: block;
  padding-right: 30px;
  text-align: center;
}

.legend span {
  border: 1px solid #ccc;
  display:block;
  width: 24px;
  height: 24px;
  float:left;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-right: 40px;
}

p {
  width: 90px;
}
