// Place all the styles related to the RoomGenerator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  width: 750px;
  margin: 100px auto;
  padding: 20px;
  background: black;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  border-radius: 40px;
}

h4 {
  font-family: ‘Helvetica Neue’, Helvetica;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: keep-all;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: black;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    margin-top: 50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

[class*="col-"] {
    display: table-cell;
    word-wrap: break-word;
    vertical-align: top;
    height: 100px;
    background-color: white;
    &:hover {
      background-color: black;
    }
    word-break: break-all;
}

.create_button{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
  vertical-align: middle;
  text-align:center;
	border-radius:50px;
	box-shadow: 2px 2px 3px #999;
}

a {
  vertical-align:center;
}
